body {
  text-align:center;
  padding:5%;
  background-color:#222;
  color:#fff;
  font-family:roboto;
}


.button-load--meme {
  cursor:pointer;
  padding:13px 40px;
  border-radius:100px;
  display:block;
  margin:0 auto;
}
.form {
  justify-content:center
}

.meme-item {
  text-align:left;
  display:inline-block;
  padding:10px;
  position:relative;
  width:150px;
  height:150px;
  margin:7px;
  cursor:pointer;
}
 .meme-img {
   width:150px;
   height:150px;
   border:3px solid white;
   position:absolute;
   object-fit:cover;
   filter:brightness(90%);
 }
 .mymeme-img {
   position:relative;
   display:inline-block;
   margin:7px;
   width:220px;
   border-radius:3px;
   border:solid white 3px;
 }
.meme-name {
  width:150px;
  text-align:center;
  position:absolute;
  bottom:0;
  animation-name:fade-in;
  animation-duration: 1s;
}

.meme-no-name {
  display:none;
}

.meme-img-darken {
  background:grey;
  filter:brightness(10%);
  animation-name:darken;
  animation-duration: 1s;
}
@keyframes darken {
  from {filter:brightness(90%)};
  to {filter:brightness(10%)};
}
@keyframes fade-in {
  from {filter:opacity(0)};
  to {filter:opacity(100)}
}
